@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="my-5">
    <h1>@ViewData["Title"]</h1>
    <img class="img-fluid float-left" src="https://cdn.memegenerator.es/imagenes/memes/full/2/9/2098036.jpg" alt="privacy-image" />
</section>

